# Logs
logs/


# Environment files
.env

# macOS system files
.DS_Store

# Python cache
__pycache__/
*.py[cod]

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

logs/
